init_setup.sh
test?
*.md
!README.md
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.tox
.coverage
.coverage.*
.cache
*.log
.git
.mypy_cache
.pytest_cache
**/*.egg-info
*.db
logs
mlruns/
requirements_dev.txt
*_cache
dvc.*
.dvc
artifacts/
*.logs
notebook/
documentation/
docs/
remove_file_pycache.sh
.vscode
/aws-deployment
pyproject_poetry.toml
**/snowflake
.aws